.button{
    display: flex;
    justify-content: center;
    padding: 25px 0px 0px 0px;
}

.button a{ 
    padding: 10px;
    border-radius: 20px;
    font-size: 1.3rem;
    width: 100%;
    border: 5px lavender solid;
    transition: 0.5s;
}
.button a:hover{
    cursor: pointer;
    transform: translateX(10px);
}