.about_parents{
    background-color: rgb(2 20 18);
    color: white;
}

.about_content{
    padding: 1%;
}

.about_content_side{
    display: flex;
    justify-content: space-around;
}

.about_content_left{
    max-width: 65%;
    margin-right: 20px;
}

@media screen and (max-width: 750px){
    .about_content_left{
        max-width: 100%;
        margin-right: 0px;
    }
    .about_content{
        padding: 5%;
    }
    .about_content_left h2{
        margin-left: 5px;
    }
    .about_content_left p{
        text-align: justify; 
    }
}