body {
    margin: 0;
    padding: 0;
}

.banner {
    bottom: 0;
    left: 0;
    background: linear-gradient(to top left, #71335D, #423160 50%, #61a4a7); 
    z-index: 1; 
}


.banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.banner_texte {
    position: absolute;
    top: 35%;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subtitle{
    margin: 0 0 0 0px;
    font-size: 2vw;
}
@media screen and (max-width:950px) {
    .banner_texte {
        left: 35%;
    }
}
@media screen and (max-width:750px) {
    .banner_texte {
        left: 50%;
    }
    .banner_texte h1 {
        color: #bde9ffb8;
        font-size: 3rem !important;
    }
}

.banner_menu {
    text-decoration: none;
    position: absolute;
    top: 41%;
    right: 5%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner_menu a{
    text-decoration: none;
}

.banner_menu_link p{
    font-size: 2rem;
}


.banner {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
}

.banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.banner_texte h1 {
    color: #bde9ffb8;
    font-size: 10vw; 
    margin: 0 0 0 -10px;
}