.projectsCards{
    width: 45vw;
    height: 45vh;
    border-radius: 40px;
}

.projectsCardsText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projectsCardsImg{
    
}